<?xml version="1.0" encoding="utf-8"?>
<ArrayOfRunningNumber>
	<RunningNumber>
		<numberSaved>100010</numberSaved>
		<typeOfNumber>Product ID running number</typeOfNumber>
	</RunningNumber>
	<RunningNumber>
		<numberSaved>1020</numberSaved>
		<typeOfNumber>Order running number</typeOfNumber>
	</RunningNumber>
	<RunningNumber>
		<numberSaved>10</numberSaved>
		<typeOfNumber>Order item running number</typeOfNumber>
	</RunningNumber>
</ArrayOfRunningNumber>