<?xml version="1.0" encoding="utf-8"?><ArrayOfRunningNumber xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><RunningNumber><numberSaved>40</numberSaved><typeOfnumber>OrderItem running number</typeOfnumber></RunningNumber><RunningNumber><numberSaved>1020</numberSaved><typeOfnumber>Order running number</typeOfnumber></RunningNumber><RunningNumber><numberSaved>1010</numberSaved><typeOfnumber>Product ID running number</typeOfnumber></RunningNumber></ArrayOfRunningNumber>