<?xml version="1.0" encoding="utf-8"?><ArrayOfRunningNumber xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><RunningNumber><numberSaved>0</numberSaved><typeOfnumber>OrderItem running number</typeOfnumber></RunningNumber><RunningNumber><numberSaved>1000</numberSaved><typeOfnumber>Order running number</typeOfnumber></RunningNumber></ArrayOfRunningNumber>